<br>
<div class="basic-grey">
	<h1>Seja bem vindo!</h1>
	<ul>
		<li><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= link_to "Tipos", kinds_path %></li>
		<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= link_to "Contato", contacts_path %></li>
	</ul>
</div>